<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings, <%= @user.name %>!</h1>
    <p> <%= @c_user.name %> liked Your article titled <%=@article.title %>!! </p>
  </body>
</html>

