<br><br><br><br><br><br><br>
<div class="well col-md-8 col-md-offset-2">
<style>
h1 {text-align:center;}
</style>

<h1 align="centre">WELCOME TO THE BLOG</h1>
<%= link_to 'View All Articles', articles_path ,class: 'btn btn-primary btn-large'%><br><br>

<%= render 'layouts/footer' %>
</div>